In [1]:
import os
import time
import timeit
from io import BytesIO

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import cudf

In [2]:
num_rows = 10_000_000
pdf_age = pd.DataFrame(
    {
        "age": np.random.randint(0, 100, num_rows),
    }
)
pdf_age

         age
0         92
1         34
2         14
3         18
4         76
...      ...
9999995   87
9999996   50
9999997    6
9999998   73
9999999    5

[10000000 rows x 1 columns]

In [3]:
gdf_age = cudf.from_pandas(pdf_age)
gdf_age

         age
0         92
1         34
2         14
3         18
4         76
...      ...
9999995   87
9999996   50
9999997    6
9999998   73
9999999    5

[10000000 rows x 1 columns]

In [4]:
def age_udf(row):
    if row["age"] < 18:
        return 0
    elif 18 <= row["age"] < 20:
        return 1
    elif 20 <= row["age"] < 30:
        return 2
    elif 30 <= row["age"] < 40:
        return 3
    elif 40 <= row["age"] < 50:
        return 4
    elif 50 <= row["age"] < 60:
        return 5
    elif 60 <= row["age"] < 70:
        return 6
    else:
        return 7

In [5]:
pdf_age.apply(age_udf, axis=1)

0          7
1          3
2          0
3          1
4          7
          ..
9999995    7
9999996    5
9999997    0
9999998    7
9999999    0
Length: 10000000, dtype: int64

In [6]:
gdf_age.apply(age_udf, axis=1)

0          7
1          3
2          0
3          1
4          7
          ..
9999995    7
9999996    5
9999997    0
9999998    7
9999999    0
Length: 10000000, dtype: int64

In [7]:
gdf_age['age'] = gdf_age.apply(age_udf, axis=1)

In [8]:
gdf_age.apply(age_udf, axis=1)

0          0
1          0
2          0
3          0
4          0
          ..
9999995    0
9999996    0
9999997    0
9999998    0
9999999    0
Length: 10000000, dtype: int64