In [1]:
import pandas as pd

In [3]:
merged_candidates_2_feature = pd.read_parquet('/root/autodl-tmp/xiaolong/WorkSpace/Amazon-KDDCUP-23/XGBoost/candidates/merged_candidates_2_feature.parquet', engine='pyarrow')

In [4]:
merged_candidates_2_feature

,sess_id,sess_locale,product,target,sess_avg_price,product_price
0,0,UK,B096FLR9LK,0.0,7.388571,17.990000
1,0,UK,B093SZNPZN,0.0,7.388571,14.990000
2,0,UK,B0856JQ3WJ,0.0,7.388571,14.610000
3,0,UK,B09XMX99F3,0.0,7.388571,12.990000
4,0,UK,B07L3L4PQH,0.0,7.388571,13.000000
...,...,...,...,...,...,...
77570148,361580,DE,B0013USA1M,0.0,32.424000,29.820000
77570149,361580,DE,B00O4TD1XG,0.0,32.424000,28.950001
77570150,361580,DE,B00816X8TU,0.0,32.424000,27.450001
77570151,361580,DE,B0857Z91PY,0.0,32.424000,60.509998
77570152,361580,DE,B07636CZVG,0.0,32.424000,39.919998

In [6]:
# recall 
(merged_candidates_2['target'] == 1.0).sum() / (merged_candidates_2['sess_id'].max() + 1)

0.7176898122412405

In [ ]:
'cxl'