In [9]:
import pandas as pd 
import numpy as np
from functools import lru_cache
import os

In [10]:
sasrec_session_candidates_path = '/root/autodl-tmp/xiaolong/WorkSpace/Amazon-KDDCUP-23/candidates/SASRec_Next/kdd_cup_2023/2023-04-01-14-13-51.parquet'
co_graph_item_candidates_path = '/root/autodl-tmp/huangxu/Amazon-KDDCUP-23/co-orrurrence_graph/item_candidates.ftr'

In [11]:
@lru_cache(maxsize=1)
def read_sasrec_session_candidates():
    return pd.read_parquet(sasrec_session_candidates_path, engine='pyarrow')

@lru_cache(maxsize=1)
def read_co_graph_item_candidates():
    return pd.read_feather(co_graph_item_candidates_path)

In [12]:
sasrec_session_candidates_df = read_sasrec_session_candidates()
sasrec_session_candidates_df.head(10), len(sasrec_session_candidates_df)

(  locale                                         candidates sess_id
 0     UK  [B06XG1LZ6Z, B06XGD9VLV, B076PN1SKG, B01MYUDYP...       0
 1     JP  [B09LCPT9DQ, B09MRYK5CV, B0BB5VQ1L8, B084T9C6W...       1
 2     UK  [B09XBS6WCX, B01EYGW86Y, B01MDOBUCC, B01C5YK17...       2
 3     UK  [0241572614, 1406392979, 024157563X, 024147681...       3
 4     JP  [B0B6PF619D, B0B6P77ZRN, B0B6P2PCMP, B0B6NY4PN...       4
 5     DE  [B0BD48G63Q, B0BD3DGNT9, B0B685KHK6, B0B54PQKG...       5
 6     DE  [B07Q82LRDK, B082XSF8XF, B00H37AVY8, B01EGP3LV...       6
 7     UK  [B013SL2712, B07V5LWSN5, B00CL6353A, B07W6JP97...       7
 8     JP  [B0BFPGHSYX, B09ZTN81QH, B00B57A5IY, B00LE7TO0...       8
 9     DE  [B07MH3K3S8, B07KQHHYQC, B00Z0BTBEA, B07YLZ67Q...       9,
 361581)

In [13]:
co_graph_item_candidates_df = read_co_graph_item_candidates()
co_graph_item_candidates_df.head(10), len(co_graph_item_candidates_df)

(           id                                         candidates
 0  B005ZSSN10  [B07Q1YXVWH, B0B94HRCXK, B09VXRZKWB, B09LCVHCV...
 1  B08PRYN6LD  [B08PSBK59Y, B079RJTR2G, B01N7RTYXE, B08HHD25M...
 2  B09MBZJ48V  [B07VR16HF9, B07FL7GVZG, B09DPR2LZW, B0B9S2FDD...
 3  B08ZN6F26S  [B08PVG787Z, B07PJVGVSM, B08ZN6F26S, 140834646...
 4  B094DGRV7D  [B08KTP6517, B094DGRV7D, B092DFVDC4, B09NXJ9KS...
 5  B09JNNBDH5  [B08K4214KB, B01MG62Z5M, B0963J155G, B008F8PMU...
 6  B08R62WZ1Y  [B09NVJGT2W, B09TB6TK6D, B08NY2NM1M, B08R62WZ1...
 7  B09WK4YNX8  [B0B2X1YX72, B094R3R9XH, B0BDML9477, B0BCPD9YY...
 8  B07KTKFYYS  [B08V1KXBQD, B0B94HRCXK, B07RHT52HX, B0B7J4WSM...
 9  B0B9MPKYJK  [B09HWSDTM3, B09C6H17PK, B08LR3G17D, B09SWTJZH...,
 1410675)

In [14]:
valid_inter_feat_path = '../data_for_recstudio/all_task_1_valid_inter_feat.csv'
valid_sessions_path = '../data_for_recstudio/all_task_1_valid_sessions.csv'

In [15]:
valid_inter_feat = pd.read_csv(valid_inter_feat_path)
valid_inter_feat.head(10)

   sess_id  product_id  timestamp locale
0        0  B09VSN9GLS          0     UK
1        0  B09VSG9DCG          1     UK
2        0  B0BJ5L1ZPH          2     UK
3        0  B09VSN9GLS          3     UK
4        0  B0BJ6V797Y          4     UK
5        0  B09VSG9DCG          5     UK
6        0  B077XGDMD2          6     UK
7        0  B06XG1LZ6Z          7     UK
8        1  B00390YWXE          0     JP
9        1  B00390YWXE          1     JP

In [16]:
valid_sessions_df = pd.read_csv(valid_sessions_path)
valid_sessions_df.head(10)

                                          prev_items   next_item locale
0  ['B09VSN9GLS' 'B09VSG9DCG' 'B0BJ5L1ZPH' 'B09VS...  B06XG1LZ6Z     UK
1           ['B00390YWXE' 'B00390YWXE' 'B09WM9W6WQ']  B01MSUI4FE     JP
2           ['B01BM9V6H8' 'B01MG55XDR' 'B07VYSSRL7']  B01M6625ME     UK
3  ['B092ZG24S7' 'B09BNHWWZM' 'B08CB1WG5M' '17880...  0241558573     UK
4                        ['B0B6NY5RM8' 'B09BJGBBBR']  B09BJF6N8K     JP
5  ['B0B84YXQLV' 'B09G19MPQH' 'B07GRTY2ZZ' 'B08CB...  B0BD48G63Q     DE
6                        ['B001O51JCS' 'B001O51JCS']  B0045DNZ9Q     DE
7  ['B07V5LWSN5' 'B0BF1CGGSJ' 'B07W4DH45P' 'B08P3...  B07W6J5FB2     UK
8                        ['B019WI5XXO' 'B08KRZX6DG']  B087BDR5GP     JP
9                        ['B0874RWZVB' 'B07MP1ZSLJ']  B07Q65PXXP     DE

In [18]:
co_graph_item_candidates_df = co_graph_item_candidates_df.set_index('id', drop=False)
co_graph_item_candidates_df.head(5)

                    id                                         candidates
id
B005ZSSN10  B005ZSSN10  [B07Q1YXVWH, B0B94HRCXK, B09VXRZKWB, B09LCVHCV...
B08PRYN6LD  B08PRYN6LD  [B08PSBK59Y, B079RJTR2G, B01N7RTYXE, B08HHD25M...
B09MBZJ48V  B09MBZJ48V  [B07VR16HF9, B07FL7GVZG, B09DPR2LZW, B0B9S2FDD...
B08ZN6F26S  B08ZN6F26S  [B08PVG787Z, B07PJVGVSM, B08ZN6F26S, 140834646...
B094DGRV7D  B094DGRV7D  [B08KTP6517, B094DGRV7D, B092DFVDC4, B09NXJ9KS...

generate session candidates from co-graph item condidates

In [19]:
valid_sessions_df['prev_items'][0]

"['B09VSN9GLS' 'B09VSG9DCG' 'B0BJ5L1ZPH' 'B09VSN9GLS' 'B0BJ6V797Y'\n 'B09VSG9DCG' 'B077XGDMD2']"

In [21]:
from tqdm import tqdm 

def get_session_last_item(session_df):
    last_items = []
    num_sessions = len(session_df)
    for i in tqdm(range(num_sessions)):
        sess = session_df.iloc[i]
        sess_prev_items = sess['prev_items']
        
        product_list = sess_prev_items.strip('[]').split(' ')
        last_item = product_list[-1].strip("'\n")

        last_items.append(last_item)
    return last_items 

last_items = get_session_last_item(valid_sessions_df)
last_items[:10]

100%|██████████| 361581/361581 [00:09<00:00, 36750.18it/s]

['B077XGDMD2',
 'B09WM9W6WQ',
 'B07VYSSRL7',
 '1788009975',
 'B09BJGBBBR',
 'B0BD489B72',
 'B001O51JCS',
 'B013SL1YXO',
 'B08KRZX6DG',
 'B07MP1ZSLJ']

In [31]:
co_graph_session_candidates_df = co_graph_item_candidates_df.loc[last_items]
co_graph_session_candidates_df[:10]

                    id                                         candidates
id
B077XGDMD2  B077XGDMD2  [B077XGDMD2, B06XGDZVZR, B06XG1LZ6Z, B076PN1SK...
B09WM9W6WQ  B09WM9W6WQ  [B09LCPT9DQ, B09WM9W6WQ, B092D5HM5S, B09MRYK5C...
B07VYSSRL7  B07VYSSRL7  [B09XBS6WCX, B01M6625ME, B094W9KT4Y, B09SHSZ2C...
1788009975  1788009975  [1839941960, 1788009975, 0241563437, 000853222...
B09BJGBBBR  B09BJGBBBR  [B0B6PF619D, B0B6NRKVZF, B0B6NY4PNC, B0B6P77ZR...
B0BD489B72  B0BD489B72  [B0BD48G63Q, B0B6ZNHCVV, B0B685KHK6, B0B7RNG4X...
B001O51JCS  B001O51JCS  [B07Q82LRDK, B08BR288Z7, B09MP8BCYP, B01NCX3W3...
B013SL1YXO  B013SL1YXO  [B013SL1YXO, B08FBZ8QSL, B085WYXXLF, B087MV18C...
B08KRZX6DG  B08KRZX6DG  [B00LE7TO0K, B00B57A5IY, B08KRZX6DG, B086LGXKY...
B07MP1ZSLJ  B07MP1ZSLJ  [B07MH3K3S8, B081GT5MW8, B07Q65PXXP, B0041GWW2...

In [40]:
num_sessions = len(valid_sessions_df)
co_currence_rates = []
for i in tqdm(range(num_sessions)):
    co_graph_set = set(co_graph_session_candidates_df.iloc[i]['candidates'])
    sasrec_set = set(sasrec_session_candidates_df.iloc[i]['candidates'])
    co_currence_set = co_graph_set.intersection(sasrec_set)
    co_currence_rates.append(len(co_currence_set) * 1.0 / 300.0)
co_currence_rate = np.array(co_currence_rates).mean()

100%|██████████| 361581/361581 [02:33<00:00, 2348.93it/s]

In [49]:
def co_currence(length):
    num_sessions = len(valid_sessions_df)
    co_currence_rates = []
    for i in tqdm(range(num_sessions)):
        co_graph_set = set(co_graph_session_candidates_df.iloc[i]['candidates'][:length])
        sasrec_set = set(sasrec_session_candidates_df.iloc[i]['candidates'][:length])
        co_currence_set = co_graph_set.intersection(sasrec_set)
        co_currence_rates.append(len(co_currence_set) * 1.0 / length * 1.0)
    return np.array(co_currence_rates).mean()

In [50]:
co_currence_rate_300 = co_currence(300)
co_currence_rate_100 = co_currence(100)
co_currence_rate_10 = co_currence(10)
co_currence_rate_300, co_currence_rate_100, co_currence_rate_10

100%|██████████| 361581/361581 [01:32<00:00, 3924.96it/s]
100%|██████████| 361581/361581 [01:15<00:00, 4757.68it/s]
100%|██████████| 361581/361581 [01:04<00:00, 5609.18it/s]

(0.06729248310429292, 0.1313047975419062, 0.2583213719747442)

In [56]:
def co_currence_2(length):
    num_sessions = len(valid_sessions_df)
    co_currence_rates = []
    for i in tqdm(range(num_sessions)):
        co_graph_set = set(co_graph_session_candidates_df.iloc[i]['candidates'][:length])
        sasrec_set = set(sasrec_session_candidates_df.iloc[i]['candidates'][:length])
        co_currence_set = co_graph_set.intersection(sasrec_set)
        co_currence_rates.append(len(co_currence_set) * 1.0 / 300)
    return np.array(co_currence_rates).mean()

In [57]:
co_currence_rate_300_2 = co_currence_2(300)
co_currence_rate_100_2 = co_currence_2(100)
co_currence_rate_10_2 = co_currence_2(10)
co_currence_rate_300_2, co_currence_rate_100_2, co_currence_rate_10_2

100%|██████████| 361581/361581 [01:31<00:00, 3963.91it/s]
100%|██████████| 361581/361581 [01:15<00:00, 4767.32it/s]
100%|██████████| 361581/361581 [01:03<00:00, 5662.77it/s]

(0.06729248310429292, 0.043768265847302076, 0.00861071239915814)

In [34]:
def cal_hit_and_mrr(ground_truth_list, candidates_list):
    hits, mrrs = [], []
    for i in tqdm(range(len(ground_truth_list))):
        ground_truth = ground_truth_list.iloc[i]
        candidates = candidates_list.iloc[i]
        hit, mrr = 0.0, 0.0
        for j in range(len(candidates)):
            if ground_truth == candidates[j]:
                hit = 1.0
                mrr = 1.0 / (j + 1)
                break
        hits.append(hit)
        mrrs.append(mrr)
    return np.array(hits).mean(), np.array(mrrs).mean()

In [36]:
# co-graph hit ratio and mrr
co_graph_hit_ratio, co_graph_mrr = cal_hit_and_mrr(valid_sessions_df['next_item'], co_graph_session_candidates_df['candidates'])
co_graph_hit_ratio, co_graph_mrr

100%|██████████| 361581/361581 [00:08<00:00, 41247.47it/s]

(0.5527115639372644, 0.27416820624916205)

In [37]:
# sasrec hit ratio and mrr
sasrec_hit_ratio, sasrec_mrr = cal_hit_and_mrr(valid_sessions_df['next_item'], sasrec_session_candidates_df['candidates'])
sasrec_hit_ratio, sasrec_mrr

100%|██████████| 361581/361581 [00:11<00:00, 31175.87it/s]

(0.6216615364192256, 0.27526101444400336)

In [44]:
# hit concurrently
def cal_co_hit(ground_truth_list, candidates_list_1, candidates_list_2):
    hits = []
    for i in tqdm(range(len(ground_truth_list))):
        ground_truth = ground_truth_list.iloc[i]
        candidates_1 = candidates_list_1.iloc[i]
        candidates_2 = candidates_list_2.iloc[i]
        hit = 0.0
        if (ground_truth in candidates_1) and (ground_truth in candidates_2):
            hit = 1.0
        hits.append(hit)
    return np.array(hits).mean()

In [45]:
co_hit = cal_co_hit(valid_sessions_df['next_item'], co_graph_session_candidates_df['candidates'], sasrec_session_candidates_df['candidates'])
co_hit

100%|██████████| 361581/361581 [00:35<00:00, 10115.28it/s]

0.43221297579242274

In [51]:
# hit or
def cal_or_hit(ground_truth_list, candidates_list_1, candidates_list_2):
    hits = []
    for i in tqdm(range(len(ground_truth_list))):
        ground_truth = ground_truth_list.iloc[i]
        candidates_1 = candidates_list_1.iloc[i]
        candidates_2 = candidates_list_2.iloc[i]
        hit = 0.0
        if (ground_truth in candidates_1) or (ground_truth in candidates_2):
            hit = 1.0
        hits.append(hit)
    return np.array(hits).mean()

In [53]:
or_hit = cal_or_hit(valid_sessions_df['next_item'], co_graph_session_candidates_df['candidates'], sasrec_session_candidates_df['candidates'])
or_hit

100%|██████████| 361581/361581 [00:34<00:00, 10373.10it/s]

0.7421601245640672

In [74]:
co_graph_session_first = co_graph_session_candidates_df['candidates'].apply(lambda x : x[:2])
co_graph_session_first

id
B077XGDMD2    [B077XGDMD2, B06XGDZVZR]
B09WM9W6WQ    [B09LCPT9DQ, B09WM9W6WQ]
B07VYSSRL7    [B09XBS6WCX, B01M6625ME]
1788009975    [1839941960, 1788009975]
B09BJGBBBR    [B0B6PF619D, B0B6NRKVZF]
                        ...
B08L8N8HDR    [B01A955L8G, B08NYPTF96]
B09D76FT9D    [B09BBX1T4S, B09D76FT9D]
B0BC2K5CY1    [B07KLCY8NF, B0BC38GHB4]
B07Q2CNLY3    [B08RQDVX71, B08RQR2NPB]
B08427PFR5    [B00P0VKZ7W, B016UZOCX4]
Name: candidates, Length: 361581, dtype: object

In [75]:
co_graph_first_hit, co_graph_first_mrr = cal_hit_and_mrr(valid_sessions_df['next_item'], co_graph_session_first)
co_graph_first_hit, co_graph_first_mrr

100%|██████████| 361581/361581 [00:18<00:00, 19742.36it/s]

(0.2640321255818198, 0.23255508447623077)

In [76]:
sasrec_session_first = sasrec_session_candidates_df['candidates'].apply(lambda x : x[:2])
sasrec_session_first

0         [B06XG1LZ6Z, B06XGD9VLV]
1         [B09LCPT9DQ, B09MRYK5CV]
2         [B09XBS6WCX, B01EYGW86Y]
3         [0241572614, 1406392979]
4         [B0B6PF619D, B0B6P77ZRN]
                    ...
361576    [B0050IG9DE, B0B7LVKNK8]
361577    [B09B9V4PXC, B09BCM5NL1]
361578    [B0BC38GHB4, B07KLCY8NF]
361579    [B08RQR2NPB, B08RQDVX71]
361580    [B0095FMJE6, B016UZOCX4]
Name: candidates, Length: 361581, dtype: object

In [77]:
sasrec_first_hit, sasrec_first_mrr = cal_hit_and_mrr(valid_sessions_df['next_item'], sasrec_session_first)
sasrec_first_hit, sasrec_first_mrr

100%|██████████| 361581/361581 [00:15<00:00, 23871.29it/s]

(0.2694389362272907, 0.23750280020244427)

In [78]:
cal_or_hit(valid_sessions_df['next_item'], sasrec_session_first, co_graph_session_first)

100%|██████████| 361581/361581 [00:25<00:00, 14462.34it/s]

0.36078776263133294

In [87]:
import copy 
merge_session_candidates_df = copy.deepcopy(sasrec_session_candidates_df)
for i in tqdm(range(len(merge_session_candidates_df))):
    sasrec_candidates = merge_session_candidates_df.iloc[i]['candidates']
    co_graph_first = co_graph_session_candidates_df.iloc[i]['candidates'][0:1]
    merge_candidates = np.concatenate([sasrec_candidates[:1], co_graph_first, sasrec_candidates[1:-1]])
    merge_session_candidates_df.iloc[i]['candidates'] = merge_candidates

100%|██████████| 361581/361581 [01:48<00:00, 3337.89it/s]

In [88]:
sasrec_session_candidates_df.head(5)

  locale                                         candidates sess_id
0     UK  [B06XG1LZ6Z, B06XGD9VLV, B076PN1SKG, B01MYUDYP...       0
1     JP  [B09LCPT9DQ, B09MRYK5CV, B0BB5VQ1L8, B084T9C6W...       1
2     UK  [B09XBS6WCX, B01EYGW86Y, B01MDOBUCC, B01C5YK17...       2
3     UK  [0241572614, 1406392979, 024157563X, 024147681...       3
4     JP  [B0B6PF619D, B0B6P77ZRN, B0B6P2PCMP, B0B6NY4PN...       4

In [89]:
merge_session_candidates_df.head(5)

  locale                                         candidates sess_id
0     UK  [B06XG1LZ6Z, B077XGDMD2, B06XGD9VLV, B076PN1SK...       0
1     JP  [B09LCPT9DQ, B09LCPT9DQ, B09MRYK5CV, B0BB5VQ1L...       1
2     UK  [B09XBS6WCX, B09XBS6WCX, B01EYGW86Y, B01MDOBUC...       2
3     UK  [0241572614, 1839941960, 1406392979, 024157563...       3
4     JP  [B0B6PF619D, B0B6PF619D, B0B6P77ZRN, B0B6P2PCM...       4

In [91]:
cal_hit_and_mrr(valid_sessions_df['next_item'], merge_session_candidates_df['candidates'])

100%|██████████| 361581/361581 [00:26<00:00, 13856.09it/s]

(0.6616083256587044, 0.2897622701720241)